/*
* ----------------------------------------------------------------------------------------
  TABLE OF CONTENT
* ----------------------------------------------------------------------------------------
* 01.BASE CSS
    - loadder 
    - keyframe animation
* 02.HEADDER SECTION
    - navigation
    - mobile navigation
* 03.HERO SECTION
* 04.ABOUT SECTION
* 05.PORTFOLIO SECTION
* 06.SERVICE SECTION
* 07.TESTIMONIAL SECTION
* 08.CONTACT SECTION 
* 09.FOOTER SECTION 
* ----------------------------------------------------------------------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url(./vendor/bootstrap/bootstrap.min.css);
@import url(./vendor/bootstrap/icon/bootstrap-icon.min.css);
@import url(./vendor/glightbox.min.css);
@import url(./vendor/slick-carousel/slick.min.css);
@import url(./vendor/slick-carousel//slick-theme.min.css);
@import url(./vendor/aos.min.css);
@import url(./color.css);
/*
* ----------------------------------------------------------------------------------------
* 01.BASE CSS.
* ----------------------------------------------------------------------------------------
*/

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--baseone);
  padding: 0;
  margin: 0;
  background-color: var(--body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-weight: 400;
}

input,
textarea {
  padding: .667rem;
  width: 100%;
  color: var(--baseone);
  background-color: transparent;
  border: .067rem solid rgba(255, 255, 255, 0.2);
  border-radius: .2rem;
}

canvas {
  position: fixed;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

section {
  height: auto;
  position: relative;
  z-index: 1;
  padding: 3.333rem 0 6.667rem;
  min-height: 100vh;
}

.big-text {
  position: absolute;
  font-size: 10rem;
  white-space: nowrap;
  letter-spacing: .667rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: transparent;
  -webkit-text-stroke-width: .067rem;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bars {
  height: 2.667rem;
  left: 3.333rem;
  position: fixed;
  width: 1.667rem;
  cursor: pointer;
  bottom: 1.667rem;
  z-index: 1;
}

.bars .bar.disable {
  -webkit-animation: sound-disabled 0ms -800ms linear infinite alternate;
  animation: sound-disabled 0ms -800ms linear infinite alternate;
}

.bars .bar {
  background: var(--baseone);
  bottom: .8rem;
  height: .2rem;
  position: absolute;
  width: .133rem;
  -webkit-animation: sound 0ms -800ms linear infinite alternate;
  animation: sound 0ms -800ms linear infinite alternate;
}

.bar:nth-child(1) {
  left: .267rem;
  -webkit-animation-duration: 674ms;
  animation-duration: 674ms;
}

.bar:nth-child(2) {
  left: .533rem;
  -webkit-animation-duration: 733ms;
  animation-duration: 733ms;
}

.bar:nth-child(3) {
  left: .8rem;
  -webkit-animation-duration: 507ms;
  animation-duration: 507ms;
}

.bar:nth-child(4) {
  left: 1.067rem;
  -webkit-animation-duration: 458ms;
  animation-duration: 458ms;
}

.bar:nth-child(5) {
  left: 1.333rem;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
}

.bar:nth-child(6) {
  left: 1.6rem;
  -webkit-animation-duration: 627ms;
  animation-duration: 627ms;
}

.glasseffect {
  -webkit-backdrop-filter: blur(.333rem);
  backdrop-filter: blur(.333rem);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 0;
}

.boldi {
  font-weight: 600;
}

.button {
  color: var(--baseone);
  padding: 1rem 2.667rem;
  letter-spacing: .133rem;
  border: .067rem solid var(--baseone);
  font-size: .867rem;
  cursor: pointer;
  background-image: url(../asset/bgnav.png);
  background-repeat: repeat-x;
  background-position: 0 -140%;
  -webkit-transition: 0.9s ease;
  -o-transition: 0.9s ease;
  transition: 0.9s ease;
}

.button:hover {
  background-position: 500% 100%;
  color: var(--basetree);
}

.mfp-figure:after {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}

.mfp-bg {
  background: var(--body);
  opacity: 1;
}

.mfp-bottom-bar {
  position: fixed;
  top: 3.467rem !important;
  left: 2rem;
  width: auto;
}

.mfp-counter {
  color: var(--baseone);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.mfp-figure .mfp-close {
  position: fixed;
  top: 0;
  font-size: 1.563rem;
}

.mfp-figure .mfp-close {
  background-color: var(--baseone);
  color: var(--basetree) !important;
  cursor: pointer !important;
  right: 0;
  height: 3.333rem;
  line-height: 3.125rem;
  opacity: 1;
  padding: 0;
  text-align: center;
  width: 3.333rem;
}

.mfp-arrow.mfp-arrow-left:before,
.mfp-arrow.mfp-arrow-left:after {
  font-family: FontAwesome;
  content: "\f177";
  display: block;
  color: var(--baseone);
  font-size: 2rem;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 2.333rem;
  margin-left: 2.333rem;
  border: unset;
}

.mfp-arrow.mfp-arrow-right:before,
.mfp-arrow.mfp-arrow-right:after {
  font-family: FontAwesome;
  content: "\f178";
  display: block;
  font-size: 2rem;
  color: var(--baseone);
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 2.333rem;
  margin-left: 2.333rem;
  border: unset;
}

.mfp-preloader {
  color: var(--basetwo);
  font-size: 1rem;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: url("../asset/icon-zoom-out.png"), -webkit-zoom-out;
  cursor: url("../asset/icon-zoom-out.png");
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: crosshair;
}

.o-line {
  position: absolute;
  width: .067rem;
  height: 100%;
  background-color: var(--baseone);
  opacity: 0.1;
  z-index: 1;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.o-line:nth-child(1) {
  left: 25%;
}

.o-line:nth-child(2) {
  left: 50%;
}

.o-line:nth-child(3) {
  left: 75%;
}

.sosmed-horizontal {
  right: .667rem;
  top: 40%;
  width: 100%;
}

.sosmed-horizontal a i {
  border: .067rem solid var(--baseone);
  border-radius: 50%;
  color: var(--baseone);
  display: inline-block;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  margin: auto .667rem;
  font-size: 1rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.sosmed-horizontal a:hover i {
  background: var(--baseone);
  color: var(--basetree);
}

.fixed {
  overflow: hidden;
}

.owl-stage-outer {
  padding: 3.333rem 0;
}

.show {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.hide {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.fixi {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--basetree)),
    to(transparent)
  );
  background: -o-linear-gradient(top, var(--basetree) 0%, transparent 100%);
  background: linear-gradient(180deg, var(--basetree) 0%, transparent 100%);
}

/*
* ----------------------------------------------------------------------------------------
* 01.BASE CSS.
    - loadder
* ----------------------------------------------------------------------------------------
*/

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: var(--basetree);
}

.img-load {
  position: absolute;
  top: 40%;
  text-align: center;
  left: 50%;
  font-size: 3.333rem;
  letter-spacing: .2rem;
  width: 15%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.progress {
  height: .133rem;
  display: block;
  width: 30%;
  background-color: var(--transone);
  border-radius: .133rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.progress .line {
  background-color: var(--basetwo);
}

.progress .line:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: line 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: line 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .line:after {
  content: "";
  position: absolute;
  background-color: var(--basetwo);
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: lines 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: lines 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

/*
* ----------------------------------------------------------------------------------------
* 01.BASE CSS.
    - keyframe animation
* ----------------------------------------------------------------------------------------
*/

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate3d(0, 3.333rem, 0);
    transform: translate3d(0, 3.333rem, 0);
    opacity: 0;
  }
  15%,
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translate3d(0, 3.333rem, 0);
    transform: translate3d(0, 3.333rem, 0);
    opacity: 0;
  }
  15%,
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes sound {
  0% {
    opacity: 1;
    height: 1.067rem;
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  100% {
    opacity: 1;
    height: 1.067rem;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sound {
  0% {
    opacity: 1;
    height: 1.067rem;
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  100% {
    opacity: 1;
    height: 1.067rem;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes sound-disabled {
  0% {
    opacity: 1;
    height: .2rem;
  }
  100% {
    opacity: 1;
    height: 1.067rem;
  }
}

@keyframes sound-disabled {
  0% {
    opacity: 1;
    height: .2rem;
  }
  100% {
    opacity: 1;
    height: 1.067rem;
  }
}

@-webkit-keyframes line {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes line {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes lines {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes lines {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

/*
* ----------------------------------------------------------------------------------------
* 02.HEADDER SECTION
* ----------------------------------------------------------------------------------------
*/

#wrap-header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar-brand span {
  font-size: 1.333rem;
  color: var(--baseone);
  letter-spacing: .133rem;
}
.navbar-brand .logo-img {
  max-height: 2.4rem;
  width: auto;
}
/*
* ----------------------------------------------------------------------------------------
* 02.HEADDER SECTION
    - navigation
* ----------------------------------------------------------------------------------------
*/

.navigation-nav {
  position: fixed;
  right: 2rem;
  bottom: 30%;
  z-index: 9;
}

.navigation-nav ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.navigation-nav li {
  position: relative;
  display: block;
  margin: 1.667rem 1.067rem;
  width: .667rem;
  height: .667rem;
  cursor: pointer;
}

.navigation-nav li a {
  top: 0;
  left: 0;
  padding: unset !important;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 100%;
  border: .067rem solid var(--transone);
  background-color: transparent;
  text-indent: -999em;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease,
    -webkit-transform 0.3s ease;
}

.navigation-nav li a:focus {
  outline: none;
}

.navigation-nav li a:before {
  width: 2rem;
  content: "";
  position: absolute;
  height: 2rem;
  border-radius: 100%;
  top: -0.867rem;
  left: -0.867rem;
  opacity: 0;
  background: var(--transone);
}

.navigation-nav li a.active {
  border: .2rem solid var(--baseone);
  background-color: var(--baseone);
}

.navigation-nav li a.active:before {
  opacity: 1;
}

.navigation-nav li a:hover:before {
  opacity: 1;
}

.navigation-nav li a:hover {
  border: .2rem solid var(--transone);
  background-color: var(--baseone);
}

.navigation-nav li a.current {
  background-color: var(--baseone);
  border: .067rem solid var(--transone);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.wrap-menunavigation {
  position: absolute;
  right: 1.333rem;
  top: 0;
  cursor: pointer;
  z-index: 99999;
}

.wrap-close {
  width: 2.2rem;
  height: 3.333rem;
  display: none;
  position: absolute;
  right: .667rem;
  top: 0;
}

.wrap-menunavigation .menu-bar span {
  background-color: var(--baseone);
  display: block;
  height: .133rem;
  margin: .667rem auto;
  margin-left: 0;
  width: 2.333rem;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.wrap-menunavigation .menu-bar:hover span:nth-child(2) {
  margin-left: .667rem;
}

#exitmenu:before,
#exitmenu:after {
  position: absolute;
  left: 1rem;
  content: " ";
  height: 2.867rem;
  width: .133rem;
  background-color: var(--baseone);
}

#exitmenu:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#exitmenu:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*
* ----------------------------------------------------------------------------------------
* 02.HEADDER SECTION
    - mobile navigation
* ----------------------------------------------------------------------------------------
*/

.mobile-navwrap {
  width: 100%;
  height: 0%;
  position: fixed;
  display: block;
  visibility: hidden;
  overflow: auto;
  top: 0;
  z-index: 99;
  padding-top: 3.333rem;
  background: var(--basetree);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#navmobile {
  position: relative;
  top: 10%;
  padding-bottom: 2rem;
  z-index: 1;
}

.navigation-listmobile {
  padding: 0 2rem 0 2rem;
}

.navigation-listmobile li {
  list-style: none;
  display: block;
  margin: .667rem;
  border-bottom: .067rem solid;
}

.navigation-listmobile li a {
  -webkit-text-stroke: .067rem rgba(255, 255, 255, 0.8);
  color: transparent;
  font-size: 3.333rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation-listmobile li a:hover {
  -webkit-text-stroke: .067rem rgba(255, 255, 255, 0);
  color: var(--basetwo);
  font-size: 3.333rem;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation-listmobile li a.active {
  color: var(--basetwo);
  -webkit-text-stroke: .067rem rgba(255, 255, 255, 0);
}

.showmenu {
  height: 100%;
  visibility: visible;
}

.closemenu {
  height: 0%;
  visibility: hidden;
}

/*
* ----------------------------------------------------------------------------------------
* 03.HERO SECTION
* ----------------------------------------------------------------------------------------
*/

#home {
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding-bottom: 0;
}

.wrap-heroifo {
  padding: 6.667rem 0;
}

.wrap-heroifo p {
  font-size: 1.667rem;
  color: var(--basetwo);
}

.wrap-heroifo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5.333rem;
  font-weight: 100;
}

.wrap-heroifo > p.deskrip-info {
  color: var(--transone);
  font-size: 1rem;
  line-height: 1.7;
  max-width: 60%;
}

.mainvisual__scroll {
  position: absolute;
  bottom: 2rem;
  right: 3.333rem;
  z-index: 2;
  opacity: 1;
}

.mainvisual__scroll span {
  display: block;
  font-size: .667rem;
  color: var(--baseone);
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 0.2em;
}

.mainvisual__scroll .bar {
  width: .067rem;
  height: 3.333rem;
  background-color: transparent;
  margin: .667rem auto 0;
  overflow: hidden;
}

.mainvisual__scroll .bar:before {
  content: " ";
  display: block;
  width: .067rem;
  height: 3.333rem;
  background-color: var(--baseone);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-animation: scrollDown 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s
    infinite normal;
  animation: scrollDown 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite
    normal;
}

/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT SECTION
* ----------------------------------------------------------------------------------------
*/

#wrap-about-section {
  position: relative;
}
#about-section .wrap-container .big-text {
  top: -2%;
}
.wrap-imgpic {
  overflow: hidden;
  height: 21.333rem;
  width: 21.333rem;
  margin: 0 auto;
  border-radius: 50%;
}

.wrap-imgpic img {
  border-radius: 50%;
}
.who-i {
  font-family: "Poppins", sans-serif;
}
.who-i h3 {
  font-size: 2rem;
  font-weight: 100;
}

.who-i p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--baseone);
}

.wrap-imgpic img {
  width: 21.33rem;
  height: 21.33rem;
  -o-object-fit: cover;
  object-fit: cover;
}

/*
* ----------------------------------------------------------------------------------------
* 05.PORTFOLIO SECTION
* ----------------------------------------------------------------------------------------
*/

#portfolio-section .wrap-container .big-text {
  top: 0;
}

.porto-wrap {
  -webkit-column-gap: 3.3rem;
  -moz-column-gap: 3.3rem;
  column-gap: 3.3rem;
  -webkit-column-fill: initial;
  -moz-column-fill: initial;
  column-fill: initial;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.porto-wrap > .item-porto {
  margin-bottom: 3.3rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(20rem);
  transform: perspective(20rem);
}

.porto-wrap > .item-porto a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.item-porto .porto-description {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.porto-description {
  opacity: 0;
  color: white;
  width: 70%;
  height: auto;
  padding: 2rem;
  top: 0;
  left: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.item-porto:hover .porto-description {
  opacity: 1;
}

/*
* ----------------------------------------------------------------------------------------
* 06.SKILLS SECTION
* ----------------------------------------------------------------------------------------
*/

#skills-section {
  height: auto;
  min-height: 100%;
}

#skills-section .wrap-container .big-text {
  top: -2%;
}

.wrap-box {
  padding: 2rem;
  border: .133rem solid;
  border-radius: .333rem;
}

.wrap-box h3 {
  font-size: 1.333rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.wrap-box p {
  font-size: .867rem;
  font-weight: 100;
}

.icon {
  display: inline-block;
  height: 5.333rem;
  width: 5.333rem;
  position: relative;
  text-align: center;
}

.icon i {
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 30%;
}

/*
* ----------------------------------------------------------------------------------------
* 07.CONTACT SECTION
* ----------------------------------------------------------------------------------------
*/

#contact-section .wrap-container .big-text {
  top: -2%;
}

#contact-section {
  height: auto;
}

.wrap-detailcontact p {
  font-weight: 400;
  line-height: 1.667rem;
}

.detail-inner {
  padding: 0 0 0 5.333rem;
  position: relative;
  margin: 0 0 2rem 0;
}

.detail-inner p:nth-last-child(2) {
  color: var(--dark-grey-two);
  font-weight: 700;
}

.detail-inner i {
  padding: .667rem;
  font-size: 1.333rem;
  width: 3.333rem;
  height: 3.333rem;
  text-align: center;
  line-height: 2.333rem;
  color: var(--colorgradientone);
  position: absolute;
  /* background: var(--dark-grey); */
  background: linear-gradient(120deg, var(--basetwo), var(--colorgradientone));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: .067rem solid rgba(255, 255, 255, 0.2);
  left: 0;
  top: 0;
  border-radius: 3.333rem;
}

.detail-inner p {
  margin: 0 0 .333rem 0;
  font-size: 1rem;
  font-weight: 500;
}

.detail-inner p.text-muted {
  font-size: .867rem;
  font-weight: 300;
}

.formwrap {
  padding: 0 1.333rem 2rem;
  background: rgba(32, 33, 36, 0.8);
  border-radius: .333rem;
  border: .067rem solid rgba(255, 255, 255, 0.1);
}

textarea.comentarea {
  height: 13.333rem;
}

button.submitbuton {
  background-color: transparent;
  width: 100%;
  border: .067rem solid rgba(255, 255, 255, 0.3);
  padding: .667rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: .333rem;
  text-transform: uppercase;
  letter-spacing: .133rem;
}

/*
* ----------------------------------------------------------------------------------------
* 08.FOOTER SECTION 
* ----------------------------------------------------------------------------------------
*/

#footer-wrap {
  position: relative;
  z-index: 1;
}
