@media only screen and (min-device-width: 91.067rem) and (max-device-width: 91.067rem) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 68.267rem) and (max-device-width: 68.267rem) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen and (device-width: 25rem) and (device-height: 54.133rem) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
}

@media only screen and (device-width: 54.133rem) and (device-height: 25rem) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}

@media screen and (max-width: 170.667rem) {
}

@media screen and (max-width: 96rem) {
}

@media screen and (max-width: 91.067rem) {
}

@media screen and (max-width: 75.2rem) {
}

@media screen and (max-width: 68.267rem) {
}

@media (max-width: 66.6rem) {
  .o-line:nth-child(1) {
    opacity: .1;
  }
  .o-line:nth-child(3) {
    opacity: .1;
  }
  .img-load {
    width: 50%;
    font-size: 1.333rem;
  }
  #wrap-about-section {
    height: auto;
  }
  .section2 {
    padding: 6.667rem 0;
  }
  .wrap-imgpic {
    margin: 4rem auto;
  }
  .porto-wrap {
    column-count: 2;
  }
  .wrap-comment {
    width: 100%;
    float: left;
    text-align: center;
  }
  .detail-user {
    width: 100%;
    float: unset;
  }
  .detail-user img {
    width: 8.667rem !important;
    margin: 0 auto;
    position: relative;
    top: 1.333rem;
    border-radius: 50%;
  }
  .wrap-comment i {
    left: 0;
  }
}

@media (max-width: 53.267rem) {
  .wrap-heroifo {
    padding-right: 0;
  }
  .wrap-heroifo p {
    font-size: 22.005px;
  }
  .wrap-heroifo h1 {
    font-size: 3.333rem;
  }
  .bars {
    left: 1.333rem;
  }
  /* .navigation-nav li {
    width: .333rem;
    height: .333rem;
  }
  .navigation-nav li a:before {
    width: 1.333rem;
    height: 1.333rem;
    top: -0.667rem;
    left: -0.667rem;
  } */
  .wrap-imgpic {
    width: 16.667rem;
    height: 16.667rem;
  }
  .wrap-imgpic img {
    width: 16.667rem;
    height: 16.667rem;
  }
  .porto-wrap {
    column-count: 1;
  }
}

@media only screen and (max-width: 38.667rem) {
}

@media (max-width: 32rem) {
  .wrap-heroifo {
    padding-right: 6rem;
  }
  .wrap-heroifo p {
    font-size: 1.2rem;
  }
  .wrap-heroifo h1 {
    font-size: 2rem;
  }
}

@media (max-width: 24rem) {
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

@media only screen and (min-device-width: 51.2rem) and (max-device-width: 68.267rem) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 51.2rem) and (max-device-width: 68.267rem) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

@media (hover: hover) and (pointer: fine) {
}
